::selection {
    color: #121212;
    background: #ee1c24;
}

body, html, a, p {
    color: #6a6a6a;
}

h1, h2, h3, h4, h5, h6 {
    color: #ee1c24;
}

#topBar, #sideBar, .logo, .navigation > a, .slideshow > a, .slide > a {
    background-color: #121212; 
    color: #6a6a6a;
}

#topBar {
    
    border-top: 5px solid #ee1c24;
}

#content, #techInfo {
    background-color: #353535;
}

.logo > h1 > a {
    color: #ee1c24;
}

.tree {
    background-color: #292929;
}

.tree > a:hover, .infoLink:hover {
    color: #ee1c24;
}

.info > p, .info > P > a {
    color: #6a6a6a
}

.collButton, .collButton::before {
    color: #ee1c24;
}

.activeCB, .collButton:hover {
    border-bottom: 5px solid #ee1c24;
}

.downloadsTab {
    background-color: #121212;
}

.downloadsTab > div > a, .downloadsTab > div > p {
    color: #6a6a6a;
}

.imageDescription, .textImage {
    background-color: #121212;
}