@font-face {
    font-family: ErasBoldITC;
    src: url(a_fonts/ERASBD.TTF);
}
@font-face {
    font-family: ErasDemiITC;
    src: url(a_fonts/ERASDEMI.TTF);
}
@font-face {
    font-family: ErasLightITC;
    src: url(a_fonts/ERASLGHT.TTF);
}
@font-face {
    font-family: ErasMedITC;
    src: url(a_fonts/ERASMD.TTF);
}

::selection {
    color: black;
    background: white;
}

body, html {
    /*background-color: #284762;*/
    background-image: url('a_pictures/Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    align-items: center;
    top: 0;
    color: gainsboro;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ErasDemiITC;
    margin: 0;
    padding: 0;
}

h1 { font-size: 4vh; }
h2 { font-size: 3vh; }
h3 { font-size: 2.5vh; }
h4 { font-size: 2vh; }
h4 { font-size: 1.5vh; }
h5 { font-size: 1vh; }

p, a {
    font-family: ErasMedITC;
    font-size: 1.8vh;
    margin: 0;
    padding: 0;
}

a {
    color: gainsboro;
    font-size: 2vh;
}

b {
    font-family: ErasDemiITC;
}

i {
    font-family: ErasLightITC;
}

#screenWarning {
    display: none;
    z-index: 12;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vh;
    background-color: red;
    text-align: center;
}

#screenWarning > a {
    text-decoration: underline;
}

#screenWarning > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pixelArt {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#overlay {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    background-repeat: repeat;
    z-index: 10;
    cursor: pointer;
}

#overlayImg {
    height: 94vh;
    box-shadow: 10px 10px 50px black;
}

#shadow {
    z-index: 0;
    position: fixed;
    left: 50vw;
    top: 50vh;
    height: 0vh;
    width: 0vw;
    box-shadow: 1vh 0px 5vh 66vh black;
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    width: 100vw;
    max-width: 134vh;
    margin: auto;
    margin-top: 10vh;
}

#topBar {
    background-color: #363C42;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    top: 0;
    border-top: 5px solid white;
    width: 100vw;
    max-width: 134vh;
    min-height: 30px;
    height: 10vh;
}

#sideBar {
    z-index: 2;
    position: fixed;
    background-color: #363C42;
    padding-top: 5px;
    width: 30vw;
    max-width: 40vh;
    height: 90vh;
}

.logo {
    background-color: #363C42;
    height: 10vh;
    width: 30vw;
    max-width: 40vh;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > h1 > a{
    color: white;
    text-decoration: none;
    font-size: 4.2vh;
    margin: 0;
    text-align: center;
    font-family: ErasBoldITC;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.navigation > a {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    text-decoration-line: none;
}

.navigation > a:hover {
    padding-left: 5vw;
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 30vw;
    max-width: 40vh;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.links > a > img {
    cursor: alias;
    height: 3vw;
    max-height: 4vh;
}

.madeBy {
    font-style: normal;
    font-family: 'ErasLightITC';
}

.info {
    text-align: center;
    padding-bottom: 5px;
}

#content {
    z-index: 1;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 134vh;
    padding-left: 40vh;
    padding-top: 38px; /* 2 x 7.5 + 18(font size) + 5 offset top-bar*/
}

#content > img {
    /*margin-top: -38px;*/
    width: 100vw;
    max-width: 94vh;
}

#content > p, #content > a, #content > h1 {
    padding-left: 15px;
    padding-right: 15px;
}

#content > h1 {
    font-size: 6vh;
}

.artShadow {
    width: 100vw;
    max-width: 94vh;
    height: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.tree {
    width: 100vw;
    max-width: 93vh; /*134 - 40 - 1*/
    background-color: rgba(30, 34, 38, 100);
    z-index: 3;
    position: fixed;
    padding: 7.5px;
    padding-left: 1vh;
    padding-right: 0;
    margin-top: -33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.tree > a, .tree > p {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5vh;
    color: grey;
}

.tree > a:hover {
    color: white;
}

.slideshow {
    text-decoration: none;
    font-size: 2.5vh;
    width: 100vw;
    max-width: 94vh;
    display: flex;
    flex-direction: row;
}

.slideshow > a {
    text-align: center;
    width: 100vw;
    max-width: 12vh;
    margin: 5px;
}

.slideshow > a:hover {
    cursor: pointer;
}

.slideshow > div {
    text-align: center;
    width: 100vw;
    max-width: 70vh;
    display: none;
    margin: 5px;
}

.slideshow > div > a {
    text-decoration: solid;
}

.slideAnim1 {
    animation-name: slideAnim1;
    animation-duration: 1.5s;
}
  
@keyframes slideAnim1 {
    from {opacity: .4; padding-left: 50px;}
    to {opacity: 1; padding-left: 0;}
}

.slideAnim1 {
    animation-name: slideAnim2;
    animation-duration: 1.5s;
}
  
@keyframes slideAnim2 {
    from {opacity: .4; padding-right: 50px;}
    to {opacity: 1; padding-left: 0;}
}

.landingImage {
    position: relative;
}

.landingImage > img {
    width: 100%;
    display: block;
}

.landingImage > button {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    height: 25%;
    background-color: rgba(33, 37, 41, .3);
    border: solid gainsboro 0.5vh;
    transition: .1s;
}

.landingImage > button > h1 {
    color: gainsboro;
    font-size: 4vh;
}

.landingImage > button:hover {
    cursor: pointer;
    border: solid gainsboro 1vh;
    background-color: rgba(33, 37, 41, .6);
    transition: .1s;
}

.landingButtons {
    margin: 2vh;
    padding: 1vh;
    border: none;
    background-color: #2d3339;
    transition: .1s;
}

.landingButtons:hover {
    scale: 1.025;
    cursor: pointer;
    transition: .1s;
}

.landingButtons > h3 {
    color: gainsboro;
}

.aboutButton {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    background-color: #2D3339;
    border: none;
    transition: .1s;
}

.aboutButton > h3 {
    color: gainsboro;
    font-size: 3vh;
}

.aboutButton:hover {
    cursor: pointer;
    scale: 1.1;
    transition: .1s;
}

.contactImage {
    position: relative;
    margin-top: -15px; /* Banner Shadow is 15px */
    z-index: 0;
}

.contactImage > img {
    width: 100%;
    display: block;
    pointer-events: none;
}

.contactImage > a {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .1s;
}

.contactImage > a > h1 {
    font-family: 'ErasBoldITC';
    color: white;
    font-size: 6vh;
}

.contactImage > a:hover {
    cursor: pointer;
    transition: .1s;
}

.landingButtons {
    margin: 2vh;
    padding: 1vh;
    border: none;
    background-color: #2d3339;
}

.landingButtons > h3 {
    color: gainsboro;
}

#blogPost {
    background-color: #2D3339;
    width: 100vw;
    margin: 5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    max-width: 83vh;
    height: 10vh;
}

#blogPost:hover {
    scale: 1.05;
}

#blogPost > h1 {
    text-align: left;
    color: whitesmoke;
    padding-top: 2vh;
    padding-left: 2vh;
    font-size: 4vh;
}

#blogPost > p {
    font-size: 1.75vh;
    padding-left: 3vh;
    color: grey;
    height: 3vh;
}

.sectionHeader {
    text-align: center;
    align-items: center;
}

.mainPicA {
    transition: .2s;
    text-decoration: 0;
}

.mainPicA:hover {
    scale: 1.03;
    transition: 0.2s;
}

.mainPic {
    margin: 2vh;
    margin-right: 4vh;
    background-color: #2d3339;
    padding: 0;
}

.mainPicImg {
    padding: 0;
    margin: 0;
}

.mainPicImg > a {
    padding: 0;
    margin: 0;
}

.mainPicImg > img{
    min-width: 30vh;
    max-width: 30vh;
    display: block;
}

.mainPicText {
    padding: 1vh;
    vertical-align: top;
}

.mainPicText > a {
    text-decoration: none;
}

.picTD {
    align-content: center;
    max-width: 25vh;
    padding: 1vh;
}

.tagTD {
    align-content: center;
    max-width: 25vh;
    padding: 1vh;
}

.picTD > img {
    transition: 0.2s;
    box-shadow: 3px 3px 10px black;
    max-width: 25vh;
    cursor: pointer;
    display: block;
}

.picTD > img:hover {
    transition: 0.2s;
    scale: 1.1;
}

.picTD > a > img {
    transition: 0.2s;
    box-shadow: 3px 3px 10px black;
    width: 100%;
}

.picTD > a > img:hover {
    transition: 0.2s;
    scale: 1.06;
}

.gameMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #2D3339;
    align-items: center;
    text-align: center;
    padding-top: 1vh;
    margin-top: -1vh;
}

.gameTags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    background-color: #2D3339;
    align-items: center;
    text-align: center;
}

.gameTags > a {
    background-color: rgba(30, 34, 38, 100);
    padding: 2%;
    margin: 1%;
}

.gameTags > a:hover {
    cursor: pointer;
}

.tagBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    background-color: #2D3339;
    align-items: center;
    text-align: center;
}

.tagBar > a {
    background-color: rgba(30, 34, 38, 100);
    padding: 2%;
    margin: 1%;
    margin-top: 0%;
}

.tagBar > a:hover {
    cursor: pointer;
}

.tagBarActive {
    font-family: ErasBoldITC;
}

.projectSearch {
    padding: 0;
    width: 94%;
    margin: 1%;
    padding: 2%;
    outline: none;
    border: none;
}

#gameTable {
    width: 100vw;
    max-width: 94vh;
}

#descInfo {
    vertical-align:top;
    width: 70%;
}

#descInfo {
    padding-left: 15px;
    padding-right: 15px;
}

#techInfo {
    vertical-align:top;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    position: relative;
    width: 30%;
}

#descInfo > img, #techInfo > img {
    width: 100%;
}

#techInfo > p {
    margin-top: 5px;
}

.gameLogo {
    width: 100%;
}

.collButton {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activeCB, .collButton:hover {
    padding-bottom: 10px;
    border-bottom: 5px solid gainsboro;
}

.collButton::before {
    content: '>';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 18px;
}

.activeCB::before {
    content: "V";
}

.collContent {
    padding: 10px 15px;
    display: none;
    transition: max-height 0.2s ease-out;
    background-color: inherit;
}

.collContent > table {
    width: 100%;
    border-collapse: collapse;
}

.collContent > table > tbody > tr > td {
    padding: 0;
}

.collContent > table > tbody > tr > td > p, .collContent > table > tbody > tr > td > video {
    text-align: center;
    display: block;
}

.textImage {
    width: 49%;   
}

.textImage > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.downloadsTab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2D3339;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

.downloadsTab > div > p {
    margin-left: 15px;
    font-size: 1.75vh;
}

.downloadsTab > div > a {
    margin-right: 15px;
    margin-left: -10px;
}

.outgoingLink:hover {
    cursor: alias;
}

#canvasHolder {
    width: 100%;
    max-width: 94vh;
    height: 75vh;
}

.imageDescription, .textImage {
    background-color: #363C42;
}

/*
Colors: 

blueish
#284762
#1C3145
#101D29
#0D1721

darker
#212529
#363C42
*/