@font-face {
    font-family: ErasBoldITC;
    src: url(!fonts/ERASBD.TTF);
}
@font-face {
    font-family: ErasDemiITC;
    src: url(!fonts/ERASDEMI.TTF);
}
@font-face {
    font-family: ErasLightITC;
    src: url(!fonts/ERASLGHT.TTF);
}
@font-face {
    font-family: ErasMedITC;
    src: url(!fonts/ERASMD.TTF);
}

::selection {
    color: black;
    background: white;
}

body, html {
    /*background-color: #284762;*/
    background-image: url('_pictures/Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    align-items: center;
    top: 0;
    color: gainsboro;
}

body {
    overflow-y: scroll;
}

a {
    color: gainsboro;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ErasDemiITC;
    margin: 0;
    padding: 0;
}

p, a {
    font-family: ErasMedITC;
    margin: 0;
    padding: 0;
}

.pixelArt {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#overlay {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    background-repeat: repeat;
    z-index: 10;
    cursor: pointer;
}

#overlayImg {
    height: 94vh;
    box-shadow: 10px 10px 50px black;
}

#shadow {
    z-index: 0;
    position: fixed;
    left: 50vw;
    top: 50vh;
    height: 0vh;
    width: 0vw;
    box-shadow: 1vh 0px 5vh 66vh black;
}

#container {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    width: 100vw;
    max-width: 134vh;
    margin: auto;
    margin-top: 10vh;
}

#topBar {
    background-color: #363C42;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    top: 0;
    border-top: 5px solid white;
    width: 100vw;
    max-width: 134vh;
    min-height: 30px;
    height: 10vh;
}

#sideBar {
    z-index: 2;
    position: fixed;
    background-color: #363C42;
    padding-top: 5px;
    width: 30vw;
    max-width: 40vh;
    height: 90vh;
}

.logo {
    background-color: #363C42;
    height: 10vh;
    width: 30vw;
    max-width: 40vh;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > h1 > a{
    color: white;
    text-decoration: none;
    font-size: 4.2vh;
    margin: 0;
    text-align: center;
    font-family: ErasBoldITC;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.navigation > a {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    text-decoration-line: none;
}

.navigation > a:hover {
    padding-left: 5vw;
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 30vw;
    max-width: 40vh;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.links > a > img {
    cursor: alias;
    height: 3vw;
    max-height: 4vh;
}

.info {
    cursor: help;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 2vh;
}

#content {
    z-index: 1;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 134vh;
    padding-left: 40vh;
    padding-top: 38px; /* 2 x 7.5 + 18(font size) + 5 offset top-bar*/
}

#content > img {
    margin-top: -38px;
    width: 100vw;
    max-width: 94vh;
}

#content > p, #content > a {
    padding-left: 15px;
    padding-right: 15px;
}

.artShadow {
    width: 100vw;
    max-width: 94vh;
    height: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.tree {
    width: 100vw;
    max-width: 93vh; /*134 - 40 - 1*/
    background-color: rgba(30, 34, 38, 100);
    z-index: 3;
    position: fixed;
    padding: 7.5px;
    padding-left: 1vh;
    padding-right: 0;
    margin-top: -33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.tree > a, .tree > p {
    font-family:'Times New Roman', Times, serif;
    color: grey;
}

.tree > a:hover {
    color: white;
}

.slideshow {
    text-decoration: none;
    font-size: 2.5vh;
    width: 100vw;
    max-width: 94vh;
    display: flex;
    flex-direction: row;
}

.slideshow > a {
    text-align: center;
    width: 100vw;
    max-width: 12vh;
    margin: 5px;
}

.slideshow > a:hover {
    cursor: pointer;
}

.slideshow > div {
    text-align: center;
    width: 100vw;
    max-width: 70vh;
    display: none;
    margin: 5px;
}

.slideshow > div > a {
    text-decoration: solid;
}

.slideshow > div > a:hover {
    cursor: pointer;
}

.slideAnim1 {
    animation-name: slideAnim1;
    animation-duration: 1.5s;
}
  
@keyframes slideAnim1 {
    from {opacity: .4; padding-left: 50px;}
    to {opacity: 1; padding-left: 0;}
}

.slideAnim1 {
    animation-name: slideAnim2;
    animation-duration: 1.5s;
}
  
@keyframes slideAnim2 {
    from {opacity: .4; padding-right: 50px;}
    to {opacity: 1; padding-left: 0;}
}

#blogPost {
    background-color: #2D3339;
    width: 100vw;
    margin: 5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    max-width: 83vh;
    height: 10vh;
}

#blogPost:hover {
    scale: 1.05;
}

#blogPost > h1 {
    text-align: left;
    color: whitesmoke;
    padding-top: 2vh;
    padding-left: 2vh;
    font-size: 4vh;
}

#blogPost > p {
    font-size: 1.75vh;
    padding-left: 3vh;
    color: grey;
    height: 3vh;
}

.picTable {

}

.picTD {
    align-content: center;
    max-width: 25vh;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.picTD > img {
    transition: 0.2s;
    box-shadow: 3px 3px 10px black;
    max-width: 25vh;
}

.picTD > img:hover {
    transition: 0.2s;
    scale: 1.1;
}

#gameTable {
    width: 100vw;
    max-width: 94vh;
}

#descInfo {
    vertical-align:top;
    width: 70%;
}

#techInfo {
    vertical-align:top;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    position: relative;
    background-color: #424b54;
    width: 30%;
}

#descInfo > img {
    width: 100%;
}

#techInfo > p {
    margin-top: 5px;
}

.collButton {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activeCB, .collButton:hover {
    padding-bottom: 10px;
    border-bottom: 5px solid gainsboro;
}

.collButton::before {
    content: '>';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 18px;
}

.activeCB::before {
    content: "V";
}

.collContent {
    padding: 10px 15px;
    display: none;
    transition: max-height 0.2s ease-out;
    background-color: inherit;
}

.collContent > table {
    width: 100%;
}

.versionTab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2D3339;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

.versionTab > div > p {
    margin-left: 15px;
    font-size: 1.75vh;
}

.versionTab > div > a {
    margin-right: 15px;
    margin-left: -10px;
}

/*
Colors: 

blueish
#284762
#1C3145
#101D29
#0D1721

darker
#212529
#363C42
*/